$bg: #3a3a3a;
$fg: #000000;
$fg-active: #4f4f4f;

html {
    background-color: $bg;
    color: $fg;
    font-family: monospace;
    padding: 3vw;
}

body {
    margin: 5vh auto 1vh;
    max-width: 1000px;
}

a {
    &, &:visited {
        color: $fg;
    }

    &:hover {
        color: $fg-active;
    }
}

#atom {
    font-size: 1.0rem;
    font-weight: normal;
}
