{% extends "base.html" %}

{% block content %}

    <h1>{{ config.title }}</h1>

    {{ section.content | safe }}

    {% if section.pages %}
        <h2>blog <a id="atom" href="/atom.xml">(rss)</a></h2>
        <p>
            {% for post in section.pages | sort(attribute="date") | reverse %}
                <li>{{ post.date | date(format="%Y-%m-%d") }} — <a href="{{ post.permalink }}">{{ post.title }}</a>
            {% endfor %}
        </p>
    {% endif %}

    <h2>contact</h2>
        {% for entry in section.extra.contact %}
            <li>{{ entry | markdown(inline=true) | safe }}</li>
        {% endfor %}

{% endblock content %}
